.cartContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.cart {
  width: 100%;
  padding: 2.5% 10%;
}

.cartBody {
  height: 80%;
}

.cartFooter {
  height: 15%;
  display: flex;
  flex-direction: column;
  border-top-style: solid;
  border-top-width: 1.5px;
  border-top-color: #a5a5a5;
  align-items: flex-end;
  justify-content: center;
}

.cartFooterPrice {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  color: #ffffff;
}

.emptyCart {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
  color: #a5a5a5;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
