.productTile {
  height: 500px;
  width: 400px;
  margin: 1.5% 3.5%;
  box-shadow: 0 1px 5px rgb(0, 0, 0);
}

.productTileHeader {
  height: 90px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.productTileHeaderTitle {
  color: #ffffff;
  font-size: 24px;
}

.productTileHeaderCategory {
  color: #a5a5a5;
  padding-top: 10px;
  font-size: 18px;
}

.productTileBody {
  height: 330px;
}

.productTileFooter {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.productTileFooterMoreInformation {
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: white;
  background-color: #a5a5a51c;
  border-style: solid;
  border-color: #a5a5a5;
  border-width: 1px;
  height: 30px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  transition: 0.75s;
  text-decoration: none;
}

.productTileFooterMoreInformation:hover {
  background-color: violet;
  color: white;
  transition: 0.75s;
  cursor: pointer;
}

.productTileFooterPrice {
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: white;
}
