.profileContainer {
  height: 1080px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileTile {
  height: 600px;
  width: 900px;
  box-shadow: 0 1px 5px rgb(0, 0, 0);
  padding: 1.5% 2%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.profileTile h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  color: white;
}

.profileTileInput {
  height: 400px;
}

.profileTileFooter {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
